@model SolutionViewModel
@{
        ViewData["Title"] = "Day " + Model.day;
}
<div class="text-center">
    <h1><a href="https://adventofcode.com/2020/day/@Model.day">Day @Model.day Problem</a></h1>
    <form method="post" asp-controller="Solutions" asp-action="Solution" asp-route-day=@Model.day>
        <div class="form-group">
            <label for="inputText">Paste Input Here:</label>
            <textarea class="form-control" name="inputText"></textarea>
            <button type="submit" class="btn btn-primary">Calculate Output</button>
            @if (Model.outputText != null)
            {
                
                <textarea readonly="true" class="form-control">@Model.outputText</textarea>
            }
        </div>
    </form>
    
</div>